# PYTHON

In [1]:
x=5

In [2]:
x

5

In [3]:
y = 8

In [4]:
y

8

In [5]:
x,y = 1,2
x,y

(1, 2)

In [6]:
# create a var with a,b,c,d and give values
a,b,c,d = (10,20,30,40)

In [7]:
# create a var with a,b,c,d and give values and show the values of only any two variables seperate
print(b)
print(d)

20
40

# Types Of Data: Numbers and Boolean

In [8]:
x = 3
type(x)

int

In [9]:
y = 4.32
type(y)

float

In [10]:
x2 = True

type(x2)

In [11]:
# Create a variable a equal to "True"Check its type.

a = True
type(a)

bool

In [12]:
# Create a variable b equal to 99 Check its type.
b = 99
type(b)

int

In [13]:
# Check the type of the value 0.99.
type(0.99)

float

In [14]:
# Create a variable b equal to 99 Turn b into a float.Consider using the print() function as a tool to help you solve this exercise.

b = 99
float(b)
print(type(b))

<class 'int'>

# STRINGS

In [15]:
"george"

'george'

In [16]:
name = " Bruce"
name

' Bruce'

In [17]:
y=10
y = str(y)
print(y+name)

10 Bruce

In [18]:
'red ' 'car'

'red car'

In [19]:
'Red' + ' Car'

'Red Car'

In [20]:
# Assign the value of 100 to the variable m.With the help of the variable m, write one line of code where the output after execution would be 100 days.

m = 100
print(str(m) + ' days')

100 days

In [21]:
# Produce an output equal to It's cool, isn't it? .
x = "It's cool, isn't it?"
x

"It's cool, isn't it?"

In [22]:
# Produce an output equal to Click "OK".
print('Click "OK"')

Click "OK"

In [23]:
# Include a plus sign in your line of code to produce 'Big Houses'.Include a trailing comma in your line of code to produce Big Houses.
answer = "Big" + " Houses"
print(answer)

Big Houses

# Arithmetic Operations In Python

In [24]:
4 + 6

10

In [25]:
10 - 4

6

In [26]:
3 * 4

12

In [27]:
12/3

4.0

In [28]:
13%3

1

In [29]:
# Subtract 50 from 26.
50 - 26

24

In [30]:
# Divide 20 by 4.
20/4
# Divide 22 by 4.
22/4

5.5

In [31]:
# Obtain the remainder of the division of 22 by 4.
22%4

2

In [32]:
# Raise 15 to the power of 2.
15**2

225

# DOUBLE EQUALITY SIGN

In [33]:
y = 2**3
y

8

In [34]:
y == 4

False

In [35]:
y == 8

True

In [36]:
# Demonstrate that 100 is not equal to 98.
100 == 98

False

In [37]:
# Assign the value of 14 to a variable p.Calculate p + 10.
p = 14
print(p+10)

24

In [38]:
# Now, assign 30 to the variable p.
p = 14
p = 30
p

30

In [39]:
# line of continuation "\" which will take new line code to the existing line of code

2 * 1.5 + \
5

8.0

In [40]:
# # without line of continuation below code will not work properly
# 15 + 31 - 
# 26

In [41]:
# with line of continuation below code will work 
15 + 31 - \
26

20

# INDEXING

In [42]:
x = 'something'
x[3]

'e'

In [43]:
# Extract the letter 'B' from "Bingo!".
x = "Bingo!"
x[0]

'B'

In [44]:
# Extract the letter "u" from "Constitution".
y = "Constitution"
y[7]

'u'

In [45]:
print('Holidays!'[6])

y

# INDENTATION

In [46]:
def greet(x):
    str(x)
    return "Hello " + x


greet("Bruce")

'Hello Bruce'

# COMPARISON OPERATORS

In [47]:
10 == 20/2

True

In [48]:

10 != 10

False

In [49]:
100 > 98

True

In [50]:
4<3

False

In [51]:
20 >= 10+12

False

In [52]:
20<= 15+5

True

In [53]:
# Verify that 25 is smaller than 30.
25<30

True

In [54]:
# Verify that 5 multiplied by 3 is less than or equal to 5 to the power of 3
5*3 <= 5**3

True

In [55]:
# Verify that 100 is equal to 10 square.
100 == 10**2

True

In [56]:
# Verify that 53 is not equal to 46.
53 != 46

True

# LOGICAL AND IDENTITY OPERATORS

In [57]:
True and True

True

In [58]:
True and False

False

In [59]:
False and False

False

In [60]:
False and True

False

In [61]:
True or False

True

In [62]:
False or False

False

In [63]:
True or True

True

In [64]:
# not come 1st
# and comes 2nd 
# or comes last

True and not True and False

False

In [65]:
5 is 4

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\pukamble\AppData\Local\Temp\ipykernel_19936\171648558.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 4

False

In [66]:
5 is not 2

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\pukamble\AppData\Local\Temp\ipykernel_19936\3794756844.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is not 2

True

In [67]:
# Check whether the following code is True or False. Answer is False
False or not True and not False

False

In [68]:
# Check whether the following code is True or False.  Answer is True

True and not False and True or not False

True

In [69]:
# Check whether the following code is True or False. answer is True
True or False and False

True

In [70]:
# Check whether the following code is True or False.Answer is False

False and True or False

False

In [71]:
# Using an identity operator, verify that 10 is not the same as 12.

10 is not 12

<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\pukamble\AppData\Local\Temp\ipykernel_19936\582606908.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  10 is not 12

True

In [72]:
# Using an identity operator, verify that 50 is the same as 50.
50 is 50

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\pukamble\AppData\Local\Temp\ipykernel_19936\3489123720.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  50 is 50

True

# IF STATEMENTS IN PYTHON

In [73]:
age = 19
if age>=18:
    print("Eligible")

Eligible

In [74]:
# Create a two-line code that prints "The condition has been satisfied" if 5 is greater than 2.
if 5 > 2:
    print("The condition has been satisfied")

The condition has been satisfied

In [75]:
x,y = (10,25)
if x>3 and y > 13:
    print("Both conditions are correct")
if x<=3 or y<=13:
    print("At least one of the conditions is false")

Both conditions are correct

# THE ELSE CONDITION

In [76]:
age = 17
if age>=18:
    print("Eligible")
else:
    print("Not Eligible")

Not Eligible

In [77]:
# Let x represent the number of orders received during a certain day. Create a program that prints "A busy day" if x is greater than 100, and "A calm day" otherwise.

if x>100:
    print("A busy day")
else:
    print("A calm day")

A calm day

In [78]:
x = 10
x

10

In [79]:
def compare_num(num):
    if num>5:
        return "greater"
    elif num<5:
        return "less"
    else:
        return "Equal"

compare_num(5)

'Equal'

In [80]:
x=104
if x>200:
    print("Big")
elif 100<x<=200:
    print("Average")
elif x<=100:
    print("Small")

Average

# FUNCTIONS In PYTHON

In [81]:
def simple_function():
    return "1st Function"

simple_function()

'1st Function'

In [82]:
def sqr_num(num):
    return num**2

sqr_num(4)

16

In [83]:
# Define a function called multiplication_by_2(x) that returns a value equal to its argument multiplied by 2.
def multiplication_by_2(x):
    return 2*x

multiplication_by_2(4)

8

In [84]:
# Define a function called division_by_2(x) that returns a float value equal to its argument divided by 2.
def division_by_2(num):
    return num/2

division_by_2(5)

2.5

In [85]:
def exponentiation_exp_2(x):
    result=x**2 
    return result
    
exponentiation_exp_2(3)

9

In [86]:
def wage(hrs):
    return hrs*25

def with_bonus(hrs):
    return wage(hrs) + 50

with_bonus(4)

150

In [87]:
def add_10(n):
    if n>=100:
        n=n+10
        return n
    else:
        return "save more"

add_10(90)

'save more'

# NOTABLE BUILT-IN FUNCTIONS

In [88]:
max(1,20,40,44)

44

In [89]:
min(4,3,55,0.3)

0.3

In [90]:
abs(0.4)

0.4

In [91]:
abs(-3)

3

In [92]:
lst = [1,2,3,4,5]
sum(lst)

15

In [93]:
round(2.342,2)

2.34

In [94]:
round(2.8)

3

In [95]:
pow(2,3)

8

In [96]:
pow(3,3)

27

In [97]:
len("Python")

6

In [98]:
len("Data Analyst")

12

In [99]:
# Obtain the maximum number among the values 25, 65, 890, and 15.
max(25,65,890,15)

890

In [100]:
# Obtain the minimum number among the values 25, 65, 890, and 15.
min(25,65,890,15)

15

In [101]:
# Find the absolute value of -100.

In [102]:
abs(-100)

100

In [103]:
# Round the value of 55.5.
round(55.5)

56

In [104]:
# Round 35.56789 to the third digit.
round(35.56789,3)

35.568

In [105]:
# Find the sum of all elements in the provided list, called "Numbers".
Numbers = [1, 5, 64, 24.5]
sum(Numbers)

94.5

In [106]:
# Use a built-in function to raise 10 to the power of 3.
pow(10,3)

1000

In [107]:
# In one line of code, find how many characters there are in the word "Elephant"?
len("Elephant")

8

In [108]:
# Create a function, called distance_from_zero(), that returns the absolute value of a provided single argument 
# and prints a statement "Not possible" if the argument provided is not a number. To solve the task, use the type() function in the body of distance_from_zero().
def distance_from_zero(n):
    if type(n) is int:
        return abs(n)
    else:
        print("Not possible")

distance_from_zero("string")

Not possible

# LIST IN PYTHON

In [109]:
participants = ["john","connor", "cate", "max"]
participants

['john', 'connor', 'cate', 'max']

In [110]:
type(participants)

list

In [111]:
print(participants[2])

cate

In [112]:
participants[-2]

'cate'

In [113]:
# We can change, add, or remove items in a list after it has been created.
participants[3]= "Bruce"

In [114]:
participants

['john', 'connor', 'cate', 'Bruce']

In [115]:
# We can delete the value by selecting index of list by using del function
del participants[1]

In [116]:
participants

['john', 'cate', 'Bruce']

In [117]:
# Create a list, called Numbers. Let it contain the numbers 10, 25, 40, and 50.Print the element at index 2 from the list.
Numbers = [10,25,40,50]
print(Numbers[2])

40

In [118]:
# Print the third-to-last element from the Numbers list using a minus sign in the brackets.
Numbers = [10,25,40,50]
print(Numbers[-3])

25

In [119]:
# Replace the number 10 with the number 15 in the Numbers list.
Numbers = [10,25,40,50]
Numbers[0] = 15
Numbers

[15, 25, 40, 50]

In [120]:
# Delete the number 25 from the Numbers list.
Numbers = [10, 25, 40, 50]
del Numbers[1]
Numbers

[10, 40, 50]

# Append

In [121]:
#append method in Python is used to add a single item to the end of a list.
participants.append('Wayne')
participants

['john', 'cate', 'Bruce', 'Wayne']

In [122]:
#extend method is used to add multiple items from an iterable (such as another list, a tuple, or a string) to the end of the list.
participants.extend(['Bane', 'Gordon','Cat'])
participants

['john', 'cate', 'Bruce', 'Wayne', 'Bane', 'Gordon', 'Cat']

In [123]:
print("The 1st name is " + participants[0] + ".")

The 1st name is john.

In [124]:
len(participants)

7

In [125]:
# Append the number 100 to the Numbers list.
Numbers = [15, 40, 50]
Numbers.append(100)
Numbers

[15, 40, 50, 100]

In [126]:
# With the help of the .extend() method, add the numbers 115 an 140 to the Numbers list
Numbers = [15, 40, 50, 100]
Numbers.extend([115,140])
Numbers

[15, 40, 50, 100, 115, 140]

In [127]:
# Print a statement, saying "The fourth element of the Numbers list is" followed by 
# the value of the fourth element of the Numbers list. Ensure you use a trailing comma to concatenate the statement with the value.
Numbers = [15, 40, 50, 100, 115, 140]
print("The fourth element of the Numbers list is",(Numbers[3]))

The fourth element of the Numbers list is 100

In [128]:
# Currently, how many elements are there in the Numbers list?
Numbers = [15, 40, 50, 100, 115, 140]
print(len(Numbers))

6

# SLICING

In [129]:
participants
Numbers = [1,2,3,4,5,6]

In [130]:
Numbers[1:4]

[2, 3, 4]

In [131]:
# Below will give us the from start index to till 2nd index
Numbers[:3]

[1, 2, 3]

In [132]:
# This will give us starting from index 3 and till end
Numbers[3:]

[4, 5, 6]

In [133]:
Numbers.index(4)

3

In [134]:
new_list = [participants,Numbers]

In [135]:
new_list

[['john', 'cate', 'Bruce', 'Wayne', 'Bane', 'Gordon', 'Cat'],
 [1, 2, 3, 4, 5, 6]]

In [136]:
# Using list slicing, obtain the numbers 100 and 115.
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[3:5]

[100, 115]

In [137]:
# Using slicing, extract the first four elements from the list.
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[:4]

[15, 40, 50, 100]

In [138]:
# Using slicing, extract all the elements from the list from the 3rd position onwards.
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[3:]

[100, 115, 140]

In [139]:
# Using slicing, extract the last 4 elements from the list.
Numbers = [15, 40, 50, 100, 115, 140]
Numbers[-4:]

[50, 100, 115, 140]

In [140]:
# Which is the position of the value 15?
Numbers = [15, 40, 50, 100, 115, 140]
Numbers.index(15)

0

In [141]:
# Create a list, called Two_Numbers. Let its elements be the values 1 and 2. 
# Then, create a new one, named All_Numbers, that will contain both the Two_Numbers and the Numbers lists in the given order.
Numbers = [15, 40, 50, 100, 115, 140]
Two_Numbers = [1,2]

All_Numbers = Two_Numbers + Numbers
All_Numbers

[1, 2, 15, 40, 50, 100, 115, 140]

In [142]:
# Sort all the numbers in the Numbers list from the largest to the smallest.
Numbers = [15, 40, 50, 100, 115, 140]
Numbers.sort(reverse=True)
print(Numbers)

[140, 115, 100, 50, 40, 15]

# TUPLES

In [143]:
x = (1,4,3,9)
type(x)

tuple

In [144]:
x

(1, 4, 3, 9)

In [145]:
y = 2,3,5,89,90
y

(2, 3, 5, 89, 90)

In [146]:
type(y)

tuple

In [147]:
list_1 = [x,y]
list_1

[(1, 4, 3, 9), (2, 3, 5, 89, 90)]

In [148]:
(age, years_of_scool) = "27,18".split(",")

In [149]:
print(age)
print(years_of_scool)

27
18

In [150]:
def square_info(x):
    A=x**2
    P=4*x
    print("Area and Perimeter")
    return A,P

square_info(5)

Area and Perimeter

(25, 20)

In [151]:
# Access the second element of the Cars tuple
Cars = ("BMW", "Dodge", "Ford")
Cars[1]

'Dodge'

In [152]:
# Call a method that would allow you to extract the provided name and age separately.
# Then print the name and age values to see if you worked correctly.
name, age = 'Peter,24'.split(",")
print(name)
print(age)

Peter
24

In [153]:
# Create a function called rectangle_info() that takes the length and width of a rectangle as arguments. 
# The function should then return the area and the perimeter of the rectangle. Call the function with arguments 2 and 10 to verify it worked correctly.

def rectangle_info(l,w):
    A=l*w
    P=2*(l+w)
    return A,P

ans = rectangle_info(3,4)
print(ans)

(12, 14)

# DICTIONARIES IN PYTHON

In [154]:
dict = {'k1': "Cat", 'k2':"Dog", 'k3': "Rat"}
dict

{'k1': 'Cat', 'k2': 'Dog', 'k3': 'Rat'}

In [155]:
dict["k2"]

'Dog'

In [156]:
dict["k4"] = "Cow"
dict

{'k1': 'Cat', 'k2': 'Dog', 'k3': 'Rat', 'k4': 'Cow'}

In [157]:
dict["k3"] = "Bull"
dict

{'k1': 'Cat', 'k2': 'Dog', 'k3': 'Bull', 'k4': 'Cow'}

In [158]:
dept_workers = {'dept_1': "Peter", 'dept_2': ["Parker", "James", "Fox"]}
dept_workers

{'dept_1': 'Peter', 'dept_2': ['Parker', 'James', 'Fox']}

In [159]:
dept_workers["dept_2"][1]

'James'

In [160]:
Team = {}
Team["India"] = "Virat"
Team["Aus"] = "Steve"
Team["Newz"] = "Brandom"
Team["Eng"] = "Joe"
Team

{'India': 'Virat', 'Aus': 'Steve', 'Newz': 'Brandom', 'Eng': 'Joe'}

In [161]:
Team["India"]

'Virat'

In [162]:
Team.get("Newz")

'Brandom'

In [163]:
# If the values does not exist within given dictionary then it will show none as default value
print(Team.get("Srilanka"))

None

In [164]:
# This is the menu of a close-by restaurant:
# What is the second meal in the list?
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu["meal_2"]

'Fries'

In [165]:
# Add a fifth meal: "Soup".
Menu["meal_5"] = "Soup"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

In [166]:
# Attach the Desserts list as a sixth meal
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu["meal_6"] = Dessert
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup',
 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

In [167]:
# Create a new dictionary called Price_list that contains the first five meals of the Menu dictionary as keys and assign 
# the following five values as prices (assumed in dollars): 10, 5, 8, 12, 5. Start by Price_list = {}.
Price_list = {}
Price_list["Spaghetti"] = 10
Price_list["Fries"] = 5
Price_list["Hamburger"] = 8
Price_list["Lasagna"] = 12
Price_list["Soup"] = 5
print(Price_list)

{'Spaghetti': 10, 'Fries': 5, 'Hamburger': 8, 'Lasagna': 12, 'Soup': 5}

In [168]:
# Use the print() function and the .get() method to check the price of the Spaghetti in the Price_list.
print(Price_list.get("Spaghetti"))

10

# FOR LOOP IN PYTHON

In [169]:
even = [0,2,4,6,8,10,12,14]
for n in even:
    print(n, end = " ")

0 2 4 6 8 10 12 14

In [170]:
# Create a For loop that prints every digit on a new line.
digits = [0,1,2,3,4,5,6,7,8,9]
for dig in digits:
    print(dig, end = " ")

0 1 2 3 4 5 6 7 8 9

# WHILE LOOP

In [171]:
 x = 0
while x<=20:
    print(x, end = " ")
    x += 2             #Incrementing

0 2 4 6 8 10 12 14 16 18 20

In [172]:
# Create a while loop that will print all odd numbers from 0 to 30 on the same row.
x = 1
while x<=30:
    print(x, end = " ")
    x += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

# RANGE FUNCTION

In [173]:
num = range(10)
num

range(0, 10)

In [174]:
list(num)                       #Use list(range(value)) to display the numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [175]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [176]:
def print_range(a,b,c):
    return list(range(a,b,c))

print_range(1,11,2)

[1, 3, 5, 7, 9]

In [177]:
# Use the range() function to create a list with all numbers from 1 to 10.
lst_1 = list(range(1,11))
lst_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [178]:
list(range(0,31,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [179]:
# Use the range() function to create a list with all numbers from 0 to 19.
list(range(0,19))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [180]:
# Use the range() function to create a list with all even numbers from 0 to 30 included.
list(range(0,31,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [181]:
# THis is combination of Loop and Range 
for x in range(20):
    if x%2 == 0:
        print(x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [182]:
x = [1,2,3,4,5,6,7]
for i in x:
    print(i, end = " ")

1 2 3 4 5 6 7

In [183]:
for i in range(len(x)):
    print(x[i], end = " ")

1 2 3 4 5 6 7

In [184]:
# Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers 
# from 1 to 10. Create it with the help of the range() function.
for x in range(10):
    print(x*2, end = " ")

0 2 4 6 8 10 12 14 16 18

In [185]:
# Create a little program that runs a loop over all values from 1 to 30. Let it print all odd numbers, and in the place of the even numbers, it should print "Even". 
# Help yourself with the range() function to solve this exercise.

for x in range(1,31):
    if x%2 == 1:
        print(x, end = " ")
    else:
        print("Even", end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

In [186]:
# You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10. Find two solutions of this problem.
n = [1,2,3,4,5,6]
for i in n:
    print(i*10, end=" ")
    
for i in range(len(n)):
    print(n[i]*10, end=" ")

10 20 30 40 50 60 10 20 30 40 50 60

In [187]:
# Create a function which will return the total count of Numbers less than 20
def count(numbers):
    total=0
    for n in numbers:
        if n<20:
            total += 1
    return total

num = [10, 2, 30, 4, 50, 60]
count(num)

3

In [188]:
nums = [1,3,5,12,24,31,51,70,100]

def count(nums):
    x=0 
    total=0 
    while x< len(nums):
        if nums[x]<20:
            total += 1
        x += 1
    return total
count(nums)

4

#  ITERATING OVER THE DICTIONARY

In [189]:
prices = {
    "sphagetti" : 4,
    "Lasagna" : 5,
    "Hamburger": 2
}
quantity = {
    "sphagetti" : 6,
    "Lasagna" : 10,
    "Hamburger": 0
}

total_money = 0
for x in prices:
    total_money = total_money + (prices[x] * quantity[x])
print(total_money)

74

In [190]:
# In this exercise you will use the same dictionaries as the ones we used in the lesson - prices and quantity. 
# This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more.

prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0
for i in prices:
    if prices[i]>=5:
        money_spent = money_spent + prices[i]*quantity[i]
print(money_spent)

50

# Object Oriented Programming

 Classes
 A class is like a blueprint for creating objects.
 Objects
 An object is an instance of a class. When a class is defined, no memory is allocated until an object of that class is created.
 Attributes
 Attributes are variables that belong to an object or class. They represent the properties or characteristics of the object.

In [1]:
# Modules, Pckages and Python Library
# Importing Modules
import math

In [2]:
math.sqrt(5)

2.23606797749979

In [3]:
from math import sqrt

In [4]:
sqrt(5)

2.23606797749979

In [5]:
from math import sqrt as s

In [6]:
s(3)

1.7320508075688772

In [8]:
from math import *             # "*" will import all the methods from module

In [9]:
math.sqrt(7)

2.6457513110645907

# Intro to numpy and pandas library
# using numpy will gets you as close as possible to straight mathematics
# pandas is powerful Python data analysis toolkit allows us to focus on more analytical task

In [13]:
import numpy as np

In [14]:
np.__version__

'1.26.4'

In [15]:
import pandas as pd

In [16]:
pd.__version__

'2.1.4'

# Mathematics for Python

In [18]:
# m rows and n columns in matrix
# ith row and jth column
# Scalar: A single number. Example: [6]
# Vector: An ordered list of numbers. Example: it has 3 rows and 1 column below is the example of column vector and row vector is side example [ 1 2 3]
# [1
#  2
# 3]
# scalar is like point which has no direction and has no size
# Vector is like line which has the direction. The direction is always from the origin of the graph to the endpoint

# Arrays in Python

In [19]:
# We'll use the numpy library to functionalities as they are optimized for such operations
import numpy as np

In [24]:
# lets create a scalar value 
s = 5            #where s is scalar
s

5

In [25]:
# lets create a vector 
v = np.array([5,-2,4])            #v is vector here
v

array([ 5, -2,  4])

In [28]:
#now lets create a matix 
m = np.array([[5,12,6],[-3,0,4]])

In [30]:
m                          #this is matix we created

array([[ 5, 12,  6],
       [-3,  0,  4]])

In [31]:
type(s)

int

In [32]:
type(v)             #ndarray standa for the n-dimensional array, v is one-directional array

numpy.ndarray

In [34]:
type(m)             #ndarray standa for the n-dimensional array, m is two-directional array

numpy.ndarray

# Data Shapes

In [37]:
# data shapes: which we can apply to our objects to check their dimensioanlity or shape
m.shape

(2, 3)

In [38]:
v.shape

(3,)

In [40]:
v

array([ 5, -2,  4])

In [39]:
# reshape method is used to create a row or column vector
v.reshape(1,3)

array([[ 5, -2,  4]])

In [41]:
v.reshape(3,1)

array([[ 5],
       [-2],
       [ 4]])

# Tensors

In [42]:
# A tensor is a mathematical object that generalizes scalars, vectors, and matrices to higher dimensions.
# Scalar: A single number (0-dimensional tensor)
# Vector: A list of numbers (1-dimensional tensor)
# Matrix: A table of numbers with rows and columns (2-dimensional tensor)

In [44]:
m1 = np.array([[5,12,4],[-3,0,11]])
m1

array([[ 5, 12,  4],
       [-3,  0, 11]])

In [45]:
m2 =  np.array([[2,4,6],[1,3,5]])
m2

array([[2, 4, 6],
       [1, 3, 5]])

In [46]:
t = np.array([m1,m2])
t

array([[[ 5, 12,  4],
        [-3,  0, 11]],

       [[ 2,  4,  6],
        [ 1,  3,  5]]])

In [47]:
t.shape

(2, 2, 3)

In [49]:
#manually creating the tensor
t_manual = np.array([[[1,3,5],[2,4,6]],[[3,6,9],[1,5,7]]])
t_manual

array([[[1, 3, 5],
        [2, 4, 6]],

       [[3, 6, 9],
        [1, 5, 7]]])

# Adding and Subtracting the Matrices

In [50]:
# Addition: the condition for addition is the two matrix should have the same dimension
m1_add = np.array([[1,2,3],[4,5,6]])
m1_add

array([[1, 2, 3],
       [4, 5, 6]])

In [51]:
m2_add = np.array([[7,8,9],[10,11,12]])
m2_add

array([[ 7,  8,  9],
       [10, 11, 12]])

In [53]:
m1_add + m2_add

array([[ 8, 10, 12],
       [14, 16, 18]])

In [56]:
# Subtraction: Same rule is applied as addition
m3 = np.array([[5,3],[-2,4]])
m4 = np.array([[7,-5],[3,8]])

In [58]:
m3 - m4
# the same rule apply with vector: as the vectors has same length then it can be added or subtracted

array([[-2,  8],
       [-5, -4]])

# Exceptions

In [59]:
m1

array([[ 5, 12,  4],
       [-3,  0, 11]])

In [61]:
# if look below we are adding one single valyue in the matrix 1
m1 + 1
# as you can see below and above see the difference as we added 1 in each value of matrix

array([[ 6, 13,  5],
       [-2,  1, 12]])

In [62]:
# Transpose of Matrix
# Transpose: The transpose of a matrix is obtained by swapping its rows and columns.
A = np.array([[1,2,3],[4,5,6]])
A

array([[1, 2, 3],
       [4, 5, 6]])

In [63]:
A.T                    #T is for transpose

array([[1, 4],
       [2, 5],
       [3, 6]])

In [68]:
x = np.array([2,4,6])                    #vectors are not transposed as we can get the same value if we transpose a vector
x

array([2, 4, 6])

In [69]:
x.T

array([2, 4, 6])

In [73]:
# Dot products of matrix:The dot product of two matrices involves multiplying the rows of the 
# first matrix by the columns of the second matrix and summing the products.
a = np.array([1,2,3])
a

array([1, 2, 3])

In [74]:
b = np.array([7,8,9])
b

array([7, 8, 9])

In [75]:
np.dot(a,b)

50

In [76]:
# While dot product of the matrix, number of columns in the first matrix must be equal to the number of rows in the second matrix.
a1 = np.array([[1,2,3],[4,5,6]])
a1

array([[1, 2, 3],
       [4, 5, 6]])

In [80]:
a2 = np.array([[2,3],[4,5],[6,7]])       
a2

array([[2, 3],
       [4, 5],
       [6, 7]])

In [81]:
np.dot(a1,a2)      #m*n is first matrix and n*k is second matrix then we'll get the m*k matric as final output. Where  m rows and n columns in matrix.

array([[28, 34],
       [64, 79]])

# NumPy Basics

In [1]:
# Created to tackle the computational problems. It is package in python, main feature is to easy to use and manipuate arrays.

In [2]:
import numpy as np

In [3]:
# ndarray: N dimensional array
# 0 D array is single data point
# 1 D array is a sequence of values
# 2 D array collection of 1-D sequences
array_a = np.array([1,2,3])

In [5]:
array_a                         #1 D array

array([1, 2, 3])

In [7]:
array_b = np.array([[1,2,3],[4,5,6]])    #2D array

In [8]:
array_b

array([[1, 2, 3],
       [4, 5, 6]])

# Intro to Pandas

In [9]:
# panel data became pandas

In [18]:
import pandas as pd

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [15]:
np.__version__

'2.0.1'

In [16]:
pd.__version__

NameError: name 'pd' is not defined